a.navbar-brand {
  width: 200px;
  height: 40px;
}

.mylinks {
  cursor: pointer;
  text-decoration: none;
  color: #758bad;
  margin-right: 10px;
  margin-left: 1rem;
  padding: auto 10px;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
}
.mylinks:hover {
  cursor: pointer;
  color: #022b69;
}
a.navitem.dropdown-toggle.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #758bad;
  font-weight: 500;
  text-align: start;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
a.navitem.dropdown-toggle.nav-link:hover {
  display: block;
  padding: 0.5rem 1rem;
  color: #022b69;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.navitem {
  cursor: pointer;
  color: #758bad;
  font-size: 1.1rem;
  margin-right: 10px;
  font-weight: 500;
  text-align: start;
}
.navitem:hover {
  cursor: pointer;
  color: #022b69;
}

div.dropdown-menu.show {
  border-radius: 0.5rem;
  min-width: 40rem;
  padding: 3rem 0;
  margin-top: 1.5rem;
}

.divider {
  border-left: 1px solid #758bad21;
}

.personalicon {
  float: left;
  font-size: 3rem;
  margin-right: 1rem;
  padding: 10px;
  color: #0067f5;
  border: 1px solid #cbf0fa;
  background-color: #cbf0fa;
  border-radius: 50%;
}

.mydropdownlinks {
  text-decoration: none;
}
/* .dropdown-item:hover {
  color: #0066f5;
  cursor: pointer;
} */
.mydropdlinks-title {
  color: #022b69;
}
.mydropdlinks-text {
  color: #758bad;
  font-size: 0.95rem;
}

.sproutSoon {
  font-size: 0.6rem;
  border: 1px solid #b4bed0;
  color: #fff;
  background-color: #b4bed0;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 1rem;
  padding: 5px 8px;
  letter-spacing: 1px;
}
.login-btn {
  color: #2d81f6;
  background-color: #fff;
  border: none;
  outline: none;
  margin-right: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.signup-btn {
  color: #fff;
  background-color: #0066f5;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 1.2rem;
  font-weight: bold;
  outline: none;
  margin-right: 1.5rem;
}

@media only screen and (max-width: 1024px) {
  div.dropdown-menu.show {
    min-width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  div.dropdown-menu.show {
    min-width: 30%;
  }
}

@media only screen and (max-width: 698px) {
  div.dropdown-menu.show {
    min-width: 21rem;
  }
}
