.navigation {
  background-color: #fff;
}

a.navbar-brand {
  width: 200px;
  height: 40px;
}

.mylinks {
  cursor: pointer;
  text-decoration: none;
  color: #758bad;
  margin-right: 10px;
  margin-left: 1rem;
  padding: auto 10px;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
}
.mylinks:hover {
  cursor: pointer;
  color: #022b69;
}
a.navitem.dropdown-toggle.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #758bad;
  font-weight: 500;
  text-align: start;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
a.navitem.dropdown-toggle.nav-link:hover {
  display: block;
  padding: 0.5rem 1rem;
  color: #022b69;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.navitem {
  cursor: pointer;
  color: #758bad;
  font-size: 1.1rem;
  margin-right: 10px;
  font-weight: 500;
  text-align: start;
}
.navitem:hover {
  cursor: pointer;
  color: #022b69;
}

div.dropdown-menu.show {
  border-radius: 0.5rem;
  min-width: 40rem;
  padding: 3rem 0;
  margin-top: 1.5rem;
}

.divider {
  border-left: 1px solid #758bad21;
}

.personalicon {
  float: left;
  font-size: 3rem;
  margin-right: 1rem;
  padding: 10px;
  color: #0067f5;
  border: 1px solid #cbf0fa;
  background-color: #cbf0fa;
  border-radius: 50%;
}

.mydropdownlinks {
  text-decoration: none;
}

.mydropdlinks-title {
  color: #022b69;
}
.mydropdlinks-text {
  color: #758bad;
  font-size: 0.95rem;
}

.sproutSoon {
  font-size: 0.6rem;
  border: 1px solid #b4bed0;
  color: #fff;
  background-color: #b4bed0;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 1rem;
  padding: 5px 8px;
  letter-spacing: 1px;
}
.login-btn {
  color: #2d81f6;
  background-color: #fff;
  border: none;
  outline: none;
  margin-right: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.signup-btn {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 1.2rem;
  font-weight: bold;
  outline: none;
  margin-right: 1.5rem;
}

/* Hero Section */
.heroSection {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.imgs {
  width: 80%;
  height: auto;
}

.textPart {
  padding-top: 8rem;
}

.heroText {
  color: #022b69;
  font-size: 5rem;
  font-weight: 700;
}

.heroMsg {
  color: #758bad;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.heroInput {
  width: 70%;
  padding: 16px 20px;
  color: #758bad36;
  border: 1px solid #758bad36;
  border-radius: 5px;
  margin-top: 1rem;
}
.heroBtn {
  background-color: #0067f5;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 16px;
  font-size: 1.2rem;
  font-weight: bold;
  outline: none;
  margin-left: 1.5rem;
}

/* values */
.valueSection {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.valueFreedom {
  padding-top: 6rem;
}

.savings {
  background-color: #f4f6ff;
  width: 36rem;
  height: 44rem;
  margin: 6rem 0 5rem;
  padding: 3rem 0rem 0rem 3rem;
  border-radius: 20px;
}
.mutual {
  background-color: #e1f6ff;
  width: 36rem;
  height: 46rem;
  margin: 6rem 0 5rem;
  padding: 3rem;
  border-radius: 20px;
}
.stash {
  background-color: #0066f5;
  color: white;
  width: 36rem;
  height: 47rem;
  margin: 6rem 0 5rem;
  padding: 3rem;
  border-radius: 20px;
}
.circles {
  background-color: #fff6ee;
  width: 36rem;
  height: 44rem;
  margin: 6rem 0 5rem;
  padding: 3rem;
  border-radius: 20px;
}
.emergency {
  background-color: #fdf3f6;
  width: 36rem;
  height: 44rem;
  margin: 6rem 0 5rem;
  padding: 3rem;
  border-radius: 20px;
}
.stock {
  background-color: #f5f6fa;
  width: 36rem;
  height: 46rem;
  margin: 6rem 0 5rem;
  padding: 3rem;
  border-radius: 20px;
}

.valueType {
  color: #758bad;
  font-size: 1.5rem;
}
.valueTypeStash {
  font-size: 1.5rem;
}

.valueTitle {
  color: #022b69;
  font-size: 3rem;
  font-weight: 600;
}
.valueTitleStash {
  font-size: 3rem;
  font-weight: 600;
}

.valueMsg {
  color: #758bad;
  font-size: 1.2rem;
}
.valueMsgStash {
  font-size: 1.2rem;
}

.valueAction {
  color: #0067f5;
  font-size: 1rem;
}
.valueActionStash {
  font-size: 1rem;
}

.savingsImg {
  width: 480px;
  height: 420px;
  padding-left: 2rem;
}

/* Step Section */
.stepSection {
  background-color: #fcfcfc;
  margin: 3rem 0;
  padding-top: 2rem;
}
.stepHero {
  color: #022b69;
  margin: 2.44rem 0 4rem;
  font-size: 3rem;
  font-weight: 600;
}
.step-active {
  display: flex;
  margin: 3rem 0 3.125rem;
}
.content {
  margin-left: 0rem;
}
.stepContentNum {
  color: #0067f5;
}
.stepContentTitle {
  color: #022b69;
  padding-left: 3rem;
}
.stepContentText {
  margin: 1rem 0rem;
  font-size: 1.25rem;
  color: #758bad;
  border-left: 1px solid #0066f5 !important;
  padding-left: 3rem;
}
.stepContentTextD {
  margin: 1rem 0rem;
  font-size: 1.25rem;
  color: #758bad;
  padding-left: 3rem;
}

/* Security Section */
.securitySection {
  background-color: #0066f5;
  margin: 5rem 3rem;
  padding: 5rem 9rem;
}
.securityHero {
  color: #fff;
  margin: 0rem 5rem;
}
.securityHeroTitle {
  font-size: 4rem;
  font-weight: 500;
  width: 50%;
  color: #fff;
}
.securityHeroMsg {
  font-size: 1.2rem;
  width: 40%;
  color: rgba(255, 255, 255, 0.836);
  margin: 2rem 0;
}
.securityAction {
  color: #ffffffb3;
  font-size: 1rem;
  margin: 1rem 0 2rem 0;
}
.securityContent {
  display: flex;
  width: 60%;
  color: #fff;
  margin: 0rem 5rem;
}
.securityIcon {
  color: #f5f6fa;
  font-size: 4rem;
  margin-right: 1rem;
  padding-bottom: 2rem;
}
.securityIconR,
.securityIconC,
.securityIconF {
  color: #f5f6fa;
  font-size: 5rem;
  margin-right: 1rem;
  padding-bottom: 2rem;
}
.securityTitle {
  font-size: 2rem;
}
.securityText {
  color: #ffffffcc;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

/* Perk Section */
.perk__title {
  color: #022b69;
  letter-spacing: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}
.perk__question {
  color: #758bad;
  font-size: 3rem;
}
.perk__answer {
  color: #022b69;
  font-size: 3rem;
}

.ratingSection {
  margin: 5rem 0;
}
.ratingsRate {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.ratingsNum {
  color: #022b69;
  font-size: 2rem;
}
.ratingsNumS {
  color: #758bad;
}
.ratingsBtn {
  background-color: #022b69;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}
.ratingsTitle {
  color: #022b69;
  padding: 1rem 0;
}
.ratingsMsg {
  color: #758bad;
}
.ratingsAction {
  color: #0067f5;
  font-size: 1rem;
  padding-top: 2rem;
}
/* Media query */
@media only screen and (max-width: 1024px) {
  div.dropdown-menu.show {
    min-width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  div.dropdown-menu.show {
    min-width: 30%;
  }
}

@media only screen and (max-width: 698px) {
  div.dropdown-menu.show {
    min-width: 21rem;
  }
}
